.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.12);
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 100px;
  width: 500px;
  height: 80vh;
  border: 1px solid black;
  overflow-x: hidden;
  background-color: white;
  position: relative;
}
.inner::-webkit-scrollbar {
  display: none;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 50px;
  font-size: 20px;
  padding: 8px;
}

.input:focus {
  border-bottom: 2px solid rgba(79, 216, 79, 0.8);
}

.add-button {
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 70px;
  margin-left: 15px;
  border-radius: 10px;
  border: 2px solid rgba(79, 216, 79, 0.8);
  font-size: 15px;
  font-weight: 1000;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgba(79, 216, 79, 2);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
  top: 0;
  height: 140px;
  margin-top: 101px;
  width: 498px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 80%;
  list-style: square;
}
