.container {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 20px;
}

.button {
  border-radius: 7px;
  background-color: rgba(79, 216, 79, 0.8);
  border: none;
  height: 40px;
  width: 120px;
  font-weight: bold;
  font-size: 13px;
}

.button:hover {
  background-color: rgba(79, 216, 79, 0.4);
}
